.button {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 8px;
  cursor: pointer;
  color: var(--grey-2);

  &_fullwidth {
    width: 100%;
  }

  .text {
    display: block;
    padding: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }

  .icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
}

.solid {
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-80);
  }

  &:active {
    background-color: var(--primary);
  }
}

.transparent {
  background-color: transparent;
  color: var(--grey-2-60);

  &:hover {
    color: var(--grey-2);
  }

  &:active {
    color: var(--grey-2-80);
  }
}
