.button {
  width: fit-content;
  height: 48px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: var(--dark-10);
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark);

  &:hover {
    background-color: var(--primary-10);
  }

  &:active {
    background-color: var(--primary);
    color: var(--light);
  }
}
