.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > button:last-child {
    margin-top: 16px;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  & > h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    color: var(--dark);
  }
}

.dateInput {
  width: 100%;
  color: var(--dark);
  padding: 8px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  border: none;
  background-color: var(--light);

  border-radius: 8px;
  box-shadow: inset 0 0 0 1px var(--dark-10);
}

.input {
  width: 100%;
  color: var(--dark);
  padding: 8px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  border: none;
  background-color: var(--light);

  border-radius: 8px;
  box-shadow: inset 0 0 0 1px var(--dark-10);

  &:hover {
    box-shadow: inset 0 0 0 1px var(--primary-60);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px var(--primary);
  }

  &::placeholder {
    color: var(--medium);
  }
}
