@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 4px;

    &:horizontal {
      height: 4px;
    }

    &-thumb {
      background-color: var(--app-global-scroll-c);
      width: 4px;
      border-radius: 2px;

      &:horizontal {
        height: 4px;
      }

      &:hover {
        background-color: var(--app-global-scroll-c-h);
      }
    }

    &-track {
      background-color: transparent;
      border-radius: 0px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
