.task {
  cursor: pointer;
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  background-color: var(--light);

  transition: 0.2s ease;

  &_dragging {
    opacity: 0;
  }

  .task_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 16px;

    & > h3 {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .description {
    color: var(--medium);
  }

  .info {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > span[data-label='true'] {
      // color: var(--medium);
      font-weight: 700;
    }
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 16px var(--primary-40);
  }
}
