@import '../../styles/scroll';

.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  min-height: var(--header-height);
  background-color: var(--primary);
  background: radial-gradient(var(--header-inner-color), var(--primary));
  box-shadow: 0 8px 16px var(--primary-20);
  z-index: 10;

  border-bottom: 2px solid var(--dark-10);

  .slots {
    display: flex;
    align-items: center;
    gap: 24px;
    width: fit-content;
  }
}

.taskContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - var(--header-height) - 1px);
  max-height: calc(100vh - var(--header-height) - 1px);

  .headings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(-75%);
    z-index: 11;

    .head {
      display: flex;
      justify-content: center;
    }
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    min-height: calc(100vh - var(--header-height) - 1px);
    max-height: calc(100vh - var(--header-height) - 1px);
    border-right: 2px solid var(--dark-10);
    overflow-x: hidden;
    overflow-y: auto;

    &:last-child {
      border-right: none;
    }

    @include scrollbar;
  }
}
