@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
}

$transparancies: (
  '90': 0.9,
  '80': 0.8,
  '60': 0.6,
  '40': 0.4,
  '20': 0.2,
  '10': 0.1,
);

@mixin makeTransparentColors($prefix, $value) {
  @each $name, $tp in $transparancies {
    --#{$prefix}-#{$name}: #{'rgba(' + $value + ',' + $tp + ')'};
  }
}

:root {
  overflow: hidden;
}

*,
*:after,
*:before {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

body {
  // --primary: rgb(16, 16, 16);
  // @include makeTransparentColors('primary', '16, 16, 16');
  --primary: rgb(51, 26, 89);
  @include makeTransparentColors('primary', '51, 26, 89');

  --secondary: rgb(32, 32, 32);
  @include makeTransparentColors('secondary', '32, 32, 32');

  --info: rgb(51, 136, 255);
  @include makeTransparentColors('info', '51, 136, 255');

  --positive: rgb(95, 186, 34);
  @include makeTransparentColors('positive', '95, 186, 34');

  --attention: rgb(255, 137, 11);
  @include makeTransparentColors('attention', '255, 137, 11');

  --negative: rgb(223, 17, 17);
  @include makeTransparentColors('negative', '223, 17, 17');

  --medium: rgb(128, 128, 128);
  @include makeTransparentColors('medium', '128, 128, 128');

  --header-height: 96px;

  display: flex;
  width: 100%;
  color: var(--dark);
  min-width: 1440px;
}

body[data-theme='light'] {
  --light: rgb(255, 255, 255);
  @include makeTransparentColors('light', '255, 255, 255');

  --dark: rgb(16, 16, 16);
  @include makeTransparentColors('dark', '16, 16, 16');

  --tasks-global-scroll-c: var(--primary-40);
  --tasks-global-scroll-c-h: var(--primary-60);

  --tasks-global-bdc: var(--primary-20);
  --tasks-global-border: 2px solid var(--primary-20);
  --tasks-aside-bgc: var(--primary-80);

  background: radial-gradient(var(--light), var(--primary-60));
}

body[data-theme='dark'] {
  --light: rgb(16, 16, 16);
  @include makeTransparentColors('light', '16, 16, 16');

  --dark: rgb(236, 236, 236);
  @include makeTransparentColors('dark', '236, 236, 236');

  --tasks-global-scroll-c: var(--light-80);
  --tasks-global-scroll-c-h: var(--light);

  --tasks-global-bdc: var(--dark-10);
  --tasks-global-border: 2px solid var(--dark-10);
  --tasks-aside-bgc: transparent;

  background: radial-gradient(var(--light-80), var(--light));
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
