@import './styles/task', './styles/header', './styles/iconButton';

$transparancies: (
  '80': 0.8,
  '60': 0.6,
  '40': 0.4,
  '20': 0.2,
  '10': 0.1,
);

@mixin makeTransparentColors($prefix, $value) {
  @each $name, $tp in $transparancies {
    --#{$prefix}-#{$name}: #{'rgba(' + $value + ',' + $tp + ')'};
  }
}

:root {
  --primary: rgb(125, 38, 212);
  @include makeTransparentColors('primary', '125, 38, 212');
  --info: rgb(51, 136, 255);
  @include makeTransparentColors('info', '51, 136, 255');
  --negative: rgb(223, 17, 17);
  @include makeTransparentColors('negative', '223, 17, 17');

  --grey-100: rgb(255, 255, 255);
  @include makeTransparentColors('grey-100', '255, 255, 255');
  --grey-400: rgb(128, 128, 128);
  @include makeTransparentColors('grey-400', '128, 128, 128');
  --grey-700: rgb(16, 16, 16);
  @include makeTransparentColors('grey-700', '16, 16, 16');

  --header-height: 96px;

  color: var(--grey-700);
}

.taskContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - var(--header-height) - 1px);

  :global {
    .column {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 24px;
      height: 100%;
      border-right: 1px solid var(--grey-700-10);

      &:last-child {
        border-right: none;
      }
    }
  }
}
