@import './styles/task', './styles/iconButton';

$transparancies: (
  '80': 0.8,
  '60': 0.6,
  '40': 0.4,
  '20': 0.2,
  '10': 0.1,
);

@mixin makeTransparentColors($prefix, $value) {
  @each $name, $tp in $transparancies {
    --#{$prefix}-#{$name}: #{'rgba(' + $value + ',' + $tp + ')'};
  }
}

:root {
  --primary: rgb(125, 38, 212);
  @include makeTransparentColors('primary', '125, 38, 212');

  --info: rgb(51, 136, 255);
  @include makeTransparentColors('info', '51, 136, 255');

  --positive: rgb(95, 186, 34);
  @include makeTransparentColors('positive', '95, 186, 34');

  --attention: rgb(252, 192, 12);
  @include makeTransparentColors('attention', '252, 192, 12');

  --negative: rgb(223, 17, 17);
  @include makeTransparentColors('negative', '223, 17, 17');

  --light: rgb(255, 255, 255);
  @include makeTransparentColors('light', '255, 255, 255');

  --medium: rgb(128, 128, 128);
  @include makeTransparentColors('medium', '128, 128, 128');

  --dark: rgb(16, 16, 16);
  @include makeTransparentColors('dark', '16, 16, 16');

  --header-height: 96px;

  color: var(--dark);
  background-color: var(--dark-10);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  border-bottom: 1px solid var(--dark-10);
  min-height: var(--header-height);
  background-color: var(--primary);
  border-radius: 0 0 24px 24px;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;

    &:horizontal {
      height: 6px;
    }

    &-thumb {
      background-color: var(--primary-60);
      width: 6px;
      border-radius: 3px;

      &:horizontal {
        height: 6px;
      }

      &:hover {
        background-color: var(--primary);
      }
    }

    &-track {
      background-color: var(--dark-10);
      border-radius: 0px;

      &:hover {
        background-color: var(--dark-10);
      }
    }
  }
}

.taskContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - var(--header-height) - 1px);
  max-height: calc(100vh - var(--header-height) - 1px);

  :global {
    .column {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 24px;
      min-height: calc(100vh - var(--header-height) - 1px);
      max-height: calc(100vh - var(--header-height) - 1px);
      border-right: 2px solid var(--dark-10);
      overflow-x: hidden;
      overflow-y: auto;

      &:last-child {
        border-right: none;
      }

      @include scrollbar;
    }
  }
}
